.header-title {
    text-align: center;
    font-size: 40px;
    padding: 25px;
    margin: 0;
    color: white;
    z-index: 7;
    font-family: "Archivo Black";
    font-style: normal;
}

.header {
    background:#6f7666;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
}

.main-text {
    font-size: 16px;
    color: white;
    max-width: 700px; /* Adjusted to max-width for responsiveness */
    margin: auto;
    position: relative;
    right: 460px;
    z-index: 2;
    top: 275px;

    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;

  }

.header-two {
    font-size: 25px;
    color: white;
    max-width: 700px; /* Adjusted to max-width for responsiveness */
    margin: auto;
    position: relative;
    bottom: 250px; /* Adjusted to create space below the previous element */
    right: 463px;
    z-index: 2;

    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
}

.w-tank {
    width: 700px;
    height: auto;
    margin: auto;
    position: relative;
    display: block;
    padding: 120px 0 40px 0;
    z-index: 5;
    right: 500px;
    top: 220px;   
}

.background-container {
    background-image: url('camo-green.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-attachment: fixed;
    z-index: 1;
}


.rounded-square {
    background-color: #878f7c; /* Set the background color */
    border-radius: 52px; /* Add border-radius for rounded corners */
    height: 550px;
    width: 760px;
    /* margin: 0; */
    padding: 0;
    position: absolute;
    z-index: 2;
    top: 225px;
    left: 100px;
    opacity: 70%;
}

.rounded-square-two {
    background-color: #878f7c;
    border-radius: 52px;
    height: 50px;
    width: 350px;
    /* margin: 0; */
    padding: 0;
    position: absolute;
    z-index: 2;
    right: 1180px;
    top: 1065px;
    opacity: 70%;
}



.small-text {
    font-size: 16px;
    color: white;
    max-width: 700px; /* Adjusted to max-width for responsiveness */
    margin: auto;
    position: relative;
  right: 103px;
    z-index: 2;
   top: -41px;

    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    
}

.hotchkiss-text {
    font-size: 25px;
    color: white;
    max-width: 700px;
    margin: auto;
    position: relative;
    bottom: 494px;
    z-index: 3;
    right: 460px;
    top: -670px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
}

.second-text {
    font-size: 16px;
    color: white;
    max-width: 700px; /* Adjusted to max-width for responsiveness */
    margin: auto;
    position: relative;
    right: -430px;
    z-index: 3;
    top: -397px;

    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
}

.webley-title{
    font-size: 25px;
    color: white;
    max-width: 700px;
    margin: auto;
    position: relative;
    bottom: 494px;
    z-index: 3;
    left: 427px;
    top: -975px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
}

.weby-image {
    width: 813px;
    height: auto;
    margin: auto;
    position: relative;
    display: block;
    padding: 120px 0 40px 0;
    z-index: 5;
    left: 391px;
    top: -1336px;
}

.rounded-square-three {
    background-color: #878f7c;
    border-radius: 52px;
    height: 868px;
    width: 743px;
    padding: 0;
    position: absolute;
    z-index: 2;
    left: 1000px;
    top: 224px;
    opacity: 70%;
}

.vickers-gun {
    width: 813px;
    height: auto;
    margin: auto;
    position: relative;
    display: block;
    padding: 120px 0 40px 0;
    z-index: 5;
    left: 419px;
    top: -1159px;
}



