body{
    padding:0;
    margin:0;
}

.header-text{
    text-align: center;
    font-size: 40px;
    padding: 25px;
    margin: 0;
    color: white;
    z-index: 2;
    font-family: "Archivo Black";
    font-style: normal;
    }
    

.header{
    background:#6f7666;
    width: 100%;
    height:100px;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 2;
}

.main-text{
    height:100vh;
    width:100%;
    background:rgb(255, 255, 255);
    display:inline-block;   
    padding:280 0 0 0px;
}

.body-text {
    font-size: 16px;
    color: rgb(255, 255, 255);
    width: 700px;
    margin: auto; /* Center the text horizontally */
    position: relative;
    transform: translateY(-50%);
    top: -145px;
    z-index: 2;
    left: 135px;

    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;

}

.hover-tank {
    font-size: 20px;
    color: rgb(201, 201, 201);
    width: 700px;
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 2; /* Set a higher z-index value */

    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
}

.Fv215b{
    width:1000px;
    height:auto;
    margin:auto;
    position:relative;
    display:block;
    padding:120px 0 40px 0;
    z-index: +3;
}

.background-container {
    background-image: url('camo-green.svg'); 
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the background */
    height: 100vh; /* Set the height to 100% of the viewport */
    width: 100%; /* Set the width to 100% of the viewport */
    margin: 0;
    padding: 0;
    position: absolute;
    background-attachment: fixed;
    z-index: 0;
}

.rounded-square-two {
    background-color: #878f7c; /* Set the background color */
    border-radius: 52px; /* Add border-radius for rounded corners */
    height: 210px;
    width: 740px;
    /* margin: 0; */
    padding: 0;
    position: absolute;
    z-index: 2;
    top: 510px;
    left: 700px;
    opacity: 70%;
    z-index: 1;
}

.rounded-square-three {
    background-color: #878f7c;
    border-radius: 52px;
    height: 50px;
    width: 310px;
    /* margin: 0; */
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 109px;
    left: 10px;
    opacity: 70%;
}